p {
   color: black;
   }

body {
	background-color: rgb(170, 240, 235)
	}

.brd {
	
	width: 200px;
	border: 4px groove black; /* Параметры границы */
    background: rgb(192, 192, 192); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
	border-radius: 50px 50px 50px 50px;
	  }
	  
.result {
	border: 2px double black;
	background: rgb(180, 180, 180);
	padding: 10px;
	border-radius: 25px 25px 25px 25px; 
}
